@use '../styles/common.sass'
@use '../styles/header.sass'

:root
   --primary: #1A2680
   --secondary: #25AEE4
   --gray: #4B465C
   --gray-light: #DBDADE
   --red: #EA5455
   --white: #FFF
   --bg-secondary: #25AEE429
